[submodule "themes/ananke"]
	path = themes/ananke
	url = git@github.com:budparr/gohugo-theme-ananke.git
[submodule "themes/tailwind-journal"]
	path = themes/tailwind-journal
	url = git@github.com:ianrodrigues/hugo-tailwind-journal.git
