<ul class="main-navigation">
  <li><a href="http://blog.deepumohan.com">Personal Blog</a></li>
  <li><a href="{{ root_url }}/">Technology Blog</a></li>
  <li><a href="/cv/">CV</a></li>
</ul>
<ul class="nav navbar-nav pull-right" id="social">
<li><a href="https://www.facebook.com/deepu.mohan.p"><i class="icon-facebook"></i></a></li>
<li><a href="https://www.twitter.com/deepumohanp"><i class="icon-twitter"></i></a></li>
<li><a href="https://plus.google.com/106447761403337564868"><i class="icon-google-plus"></i></a></li>
<li><a href="http://www.linkedin.com/in/deepumohanp"><i class="icon-linkedin"></i></a></li>
<li><a href="http://github.com/WarFox/"><i class="icon-github"></i></a></li>
<li><a href="http://deepumohanp.tumblr.com/"><i class="icon-tumblr"></i></a></li>
<li><a href="https://foursquare.com/deepumohanp/"><i class="icon-foursquare"></i></a></li>
<li><a href="http://instagram.com/deepumohanp/"><i class="icon-instagram"></i></a></li>
</ul>
