  <nav role='navigation'>
    <span class='circle'></span></span>
    <div class='navbar-header'>
      <button class='navbar-toggle' data-target='.navbar-ex1-collapse' data-toggle='collapse' type='button'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <a class="navbar-brand" href="{{ root_url }}/" style="padding-left:100px;">{{ site.title }}</a>
    </div>
    {% include custom/navigation.html %}
  </nav>
